/**
 * Description:     Variables
 * Author:          Nathan M. House
 * Author URI:      https://nathanmhouse.com.com
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Variables
	1.1 Variables - Color
	1.2 Variables - Font


/*--------------------------------------------------------------
1.0 Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 Variables - Color
--------------------------------------------------------------*/
$black: #000;
$blue-10: #31abb9;
$blue-100: #035d67;
$grey-10: #f6f6f6;
$grey-30: #dcdcdc;
$grey-50: #828689;
$grey-70: #5b6770;
$grey-90: #323232;
$grey-100: #1b1b1b;
$red-10: #e20337;
$red-50: #c20430;
$red-100: #b20420;
$white: #fff;


/*--------------------------------------------------------------
1.2 Variables - Fonts
--------------------------------------------------------------*/
$body-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headline-font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;